body {
    margin: 0;
    padding: 0;
    background-color: darkgreen;
}

.header {
    text-align: center;
    color: black;
    font-size: 60px;
    /*background-color: darkgreen;*/
    width: auto;
    height: auto;
    margin: 0;
}

.logo {
    background-color: darkgreen;
    color: darkgreen;
}